body {
  width: max-content;
  min-width: 200px;
  max-width: 800px;
  padding: 0 10px 10px 10px;
}

.sticky-header h3 {
  margin: 0;
  padding: 10px 0 5px 0;
}

.sticky-header.sticky {
  position: sticky;
  top: 0;
  background: white;
  padding-bottom: 5px;
  z-index: 10;
}

label {
  display: flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
}

.group {
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.compact .list {
  gap: 1px;
}

.list.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px 16px;
}

.compact .list.grid {
  gap: 2px 12px;
}
